moni
sops.yaml
jupyterhub-ol
gitlab-xx
sonarqube-new-new
hpa.yaml
tls-secret.yaml
sonar.yaml
keycloak-db-*
keycloak-bitnami
airflow-old
airflow-best
artifactory-secret-enc.yaml
gitlab-testing
argocd-iu-old
gitlab-ce
neo4j-helm
# secret-*
# .sops
env.*
user-management
keycloak-cc
rabb-tem.yaml 
rabb-tem-op.yaml
neuvector-ooo
jf-pv-pvc.yaml
jfrog-pvc.yaml
jfrog-pv.*
sonarqube-new-does-not-work
neuvector-old
neuvector-new
aiflow-sso
ingressgateway-16  
istio-base-16  
istiod-16 kyverno-old
kyverno-odd
vault-auth.yaml
ne.yaml
prometheus-old
config.json
semaphore-config.yaml
sso-argocd-cm.yaml
sonarqube-dep-2024-04-01
elasticsearch-kibana
