gitlab-xx
sonarqube-new-new
hpa.yaml
tls-secret.yaml
sonar.yaml
keycloak-db-*
keycloak-bitnami

artifactory-secret-enc.yaml
gitlab-testing
argocd-iu-old
gitlab-ce
# secret-*
# .sops
neuvector-ooo
jf-pv-pvc.yaml
jfrog-pvc.yaml
jfrog-pv.*
sonarqube-new-does-not-work
neuvector-old
neuvector-new
aiflow-sso
