gitlab-xx
hpa.yaml
tls-secret.yaml
sonar.yaml
keycloak-db-*
keycloak-bitnami

artifactory-secret-enc.yaml
gitlab-testing
argocd-iu-old
gitlab-ironbank/
gitlab-ce
# secret-*
# .sops
neuvector-ooo
jf-pv-pvc.yaml
jfrog-pvc.yaml
jfrog-pv.*
sonarqube-old-old
sonarqube-new
neuvector-old